body {
    -moz-animation: random 15s infinite;
    -webkit-animation: random 15s infinite;
    animation: random 15s infinite;
    background-color: purple;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes random {
    15% {
        background-color: red;
    }
    45% {
        background-color: ForestGreen;
    }
    60% {
        background-color: blue;
    }
    75% {
        background-color: yellow;
    }
}

div {
    font-size: 2em;
    border-radius: 0.1em;
    max-width: 7em;
}

input {
    border: 0.3em solid white;
    font-size: 1.7em;
    border-radius: 0.2em;
}

button {
    border: solid white;
    background-color: white;
    border-radius: 0.5em;
    font-size: 150%;
    min-height: 3.4em;
    min-width: 10em;
}
