body {
    -moz-animation: random 20s infinite;
    -webkit-animation: random 20s infinite;
    animation: random 20s infinite;
    background-color: #471F5E;
    font-family: 'Ravi Prakash', cursive;
}

@keyframes random {
    15% {
        background-color: #991115;
    }
    45% {
        background-color: #00401E;
    }
    60% {
        background-color: #FCB825;
    }
    75% {
        background-color: #0D407F;
    }
}

div {
    font-size: 2em;
    border-radius: 0.1em;
    max-width: 7em;
}

input {
    font-family: 'Ravi Prakash', cursive;
    border: 0.3em solid white;
    font-size: 1.7em;
    border-radius: 0.2em;
}

button {
    background-color: white;
    border-radius: 0.5em;
    border: solid white;
    font-family: 'Ravi Prakash', cursive;
    font-size: 150%;
    min-height: 3.4em;
    min-width: 10em;
}
