button, input, body {
    font-family: 'Ravi Prakash', cursive;
}

body {
    background: #471F5E;
}

div {
    display: none;
}

.button_A, .button_B, .button_C, .button_D {
    color: White;
    height: 150px;
    width: 150px;
    border-style: hidden;
    border-radius: 0.5em;
    font-size: 50px;
}

.button_A, .button_C {
    float: left;
}

.button_B, .button_D {
    float: right;
}

.button_A {
    background-color: #991115;
}

.button_B {
    background-color: #0D407F
}

.button_C {
    background-color: #FCB825;
}

.button_D {
    background-color: #00401E;
}

.leave {
    font-size: 120%;
    height: 3em;
    width: 9em;
}

p {
    color: white;
}

.leaderboard {
    font-size: 1.5em;
}

.wait {
    font-size: 2em;
}
