input, body, .Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
}

table {
    background-color: White;
    border-radius: 0.5em;
}

input {
    border-style: hidden;
    font-size: 1.7em;
    min-width: 6em;
    border-radius: 0.2em;
}

body {
    color: Black;
    background-color: #EC631A; /*Ryza Dust*/
}

span{
    background-color: white;
    border-radius: 0.5em;
    font-size: 2em;
    text-align: center;
}

div {
    border-style: hidden;
    color: Black;
    display: none;
    padding-top: 1em;
}

.Return_home, .button_start {
        background-color: #6B6A74; /*Warpfiend Grey*/
        border-color:  #6B6A74; /*Warpfiend Grey*/
        border-radius: 0.5em;
        color: White;
        font-family: 'Ravi Prakash', cursive;
        font-size: 1.80em;
}

.quiz_name{
    font-size: 3em;
}


table {
    font-size: 150%;
    width: 20%;
}

.Leaderboard_content {
    display: inline;
}

.answer_A, .answer_B, .answer_C, .answer_D {
    color: White;
    width: 2em;
    font-size: 3em;
    border-radius: 0.5em;
}

.answer_A, .answer_C {
    float: left;
}

.answer_B, .answer_D {
    float: right;
}

.answer_A {
    background-color: #991115; /*Mephiston Red*/
}

.answer_B {
    background-color: #0D407F;/*Macraage Blue*/
}

.answer_C {
    background-color: #FFDA00;/*Yriel Yellow*/
}

.answer_D {
    background-color: #00401E; /*Caliban Green*/
}

input, body, .Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
}

.Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
    height: 2em;
    width: 6.7em;
    padding-top: 0.5em;
}


.Start_playing {
    font-size: 1.5em;
}
