input, body, .Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
}

td {
    text-align: center;
}

tr {
    background-color: White;
    border-radius: 0.5em;
}

img {
    height: auto;
    max-width: 20em;
}

body {
    background-color: #EC631A;
    /*Ryza Dust*/
    color: Black;
}

span {
    background-color: white;
    border-radius: 0.5em;
    font-size: 2em;
    text-align: center;
}

div {
    border-style: hidden;
    color: Black;
    display: none;
    padding-top: 1em;
}

.Return_home, .button_start {
    background-color: #6B6A74;
    /*Warpfiend Grey*/
    border-color: #6B6A74;
    /*Warpfiend Grey*/
    border-radius: 0.5em;
    color: White;
    font-family: 'Ravi Prakash', cursive;
    font-size: 1.80em;
}

.quiz_name {
    font-size: 3em;
}

table {
    display: table;
    font-size: 150%;
}

.Leaderboard_content {
    display: inline;
}

.answer_A, .answer_B, .answer_C, .answer_D {
    border-radius: 0.5em;
    color: White;
    font-size: 3em;
    min-width: 1.5em;
}

.answer_A, .answer_C {
    float: left;
}

.answer_B, .answer_D {
    float: right;
}

.answer_A {
    background-color: #991115;
    /*Mephiston Red*/
}

.answer_B {
    background-color: #0D407F;
    /*Macraage Blue*/
}

.answer_C {
    background-color: #FFDA00;
    /*Yriel Yellow*/
}

.answer_D {
    background-color: #00401E;
    /*Caliban Green*/
}

input, body, .Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
}

.Start_playing, .Return_home {
    font-family: 'Ravi Prakash', cursive;
    width: 6.7em;
    padding-top: 0.5em;
}

.Start_playing {
    height: 2em;
}

.Return_home {
    height: 3.5em;
}

.Start_playing {
    font-size: 1.5em;
}
